[Desktop Entry]
Type=Application
Name=BetterWallpaper
Comment=Manage and set animated wallpapers
Exec=betterwallpaper
Icon=betterwallpaper
Terminal=false
Categories=Utility;GTK;
Keywords=wallpaper;background;animated;live;
StartupNotify=true
